@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #ffe9db;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid #ac6a44;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  border-radius: 23px;
}

.cta:hover {
  color: white;
  background-color: #ffb48a;
}

.brand h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

/* Header */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: #ffcc50;
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #ffdfac;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #8e713a;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* Header */
#hero {
  background-image: url(img/portada.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}

/* Mi formación profesional */
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #eea57b;
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back h3 {
  font-size: 25px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  font-size: 12px;
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* mi formación profesional */
/* mis habilidades */
.contenedor-cartas {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.title-cartas {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.cartas {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #cc906e;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.cartas:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.cartas img {
  width: 100%;
  height: 210px;
}

.cartas .contenido-cartas {
  padding: 15px;
  text-align: center;
}

.cartas .contenido-card h3 {
  margin-bottom: 15px;
}

.cartas .contenido-cartas p {
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 5px;
}

/* mis habilidades */
/* Seccion de Proyectos */
#proyectos {
  padding-top: 30px;
  padding-bottom: 30px;
}

.proyectos {
  margin-top: 40px;
  list-style: none;
  display: flex-wrap;
  justify-content: center;
  align-items: center;
}

.a_proyectos {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyectos img {
  width: 600px;
  margin: 20px 0px 20px 0;
}

.proyectos .overlay h3 {
  margin: 0;
  color: black;
  text-align: center;
  margin: 0px 0px 10px 0;
}

.proyectos .overlay p {
  margin: 0;
  color: black;
  text-align: center;
  margin: 0px 10px 0px 10px;
}

/* Seccion de Proyectos */
/* sobre mi */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img img {
  border-radius: 50%;
}

/*contacto*/
#conocimientos {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  margin-top: 3px;
}

.div_conocimientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.h3_conocimientos {
  font-size: 35px;
  color: white;
  margin: 10px 30px 10px 0px;
}

.div_conocimientos p {
  color: white;
  font-size: 16px;
  width: 700px;
  text-align: center;
}

.sec_carde {
  display: flex;
  height: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.a_carde * {
  color: white;
  text-decoration: none;
}

.carde {
  background-color: #cc906e;
  border-radius: 1px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 60px 10px;
  width: 180px;
  height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  border-radius: 30px;
}

.carde:hover {
  box-shadow: 0 26px 32px rgba(0, 0, 0, 0.1);
  width: 184px;
  height: 130px;
}

.carde h4 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.carde p {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

i {
  font-size: 50px;
  margin: auto;
  padding: 0;
  color: white;
}

/*contacto*/
/* Footer */
#footer {
  background-color: #dd943a;
}

#footer .footer {
  min-height: 150px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  color: white;
  font-size: 1.3rem;
}

/* Footer */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  #proyectos {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .proyectos {
    height: auto;
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .a_proyectos {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .proyectos img {
    width: 350px;
    margin: 5px 0px 25px 5px;
  }
  .proyectos .overlay h3 {
    margin: 0;
    color: black;
    text-align: center;
    margin: 0px 0px 20px 10px;
    font-size: 25px;
  }
  .proyectos .overlay p {
    margin: 0;
    color: black;
    text-align: center;
    margin: 0px 5px 20px 15px;
  }
}
.ul_certificados {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul_certificados li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li_certificado_mobile {
  display: none;
}

.li_certificado {
  color: #f1dc7e;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contenedor-cartas {
    flex-wrap: wrap;
  }
  .cartas {
    margin: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
